html {
    box-sizing: border-box;
    font-family: sans-serif;
}


*,
*::after,
*::before {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.disabled {
    cursor: not-allowed;
}