.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(105, 30, 179);
    padding: 10px;
}

.navbar-dark {
    background-color: rgb(78, 65, 65);
}

.navbar-light {
    background-color: rgb(105, 30, 179);
}

.btn {
    background-color: rgb(154, 137, 29);
    color: black;
    height: 40px;
    border: none;
    font-weight: bold;
}

.product-image {
    border: 1px solid gray;
    margin: 10px;
    height: 300px;
    width: 100%;
}

.product-description {
    background-color: whitesmoke;
    padding: 15px;
}

.product-dark {
    background-color: rgb(78, 65, 65);
}

.product-light {
    background-color: whitesmoke;
}